<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
                    "dataset" : "./lib/dataset.js"
                }
            }
        </script>
    </head>
    <body>
        <main id="app">
            <section id="item-list">
                <div class="list-item" v-for="item in items.getList(filterKey, pinnedOnly, true)" :data-id="item.id" :data-pinned="item.pinned" @click="pinnedItem">
                    <p class="item-genre" :data-genre="item.genre">{{names.genre[item.genre]}}</p>
                    <div class="item-details">
                        <p class="item-name">{{item.name}}</p>
                        <dl class="item-data">
                            <div class="price">
                                <dt>販売価格</dt>
                                <dd><span class="rarity" data-rank="3">S</span> {{item.price.s}}</dd>
                                <dd><span class="rarity" data-rank="2">A</span> {{item.price.a}}</dd>
                            </div>
                            <div>
                                <dt>使用素材</dt>
                                <dd><span class="rarity" :data-rank="material.getRank(item.material.primary.id)">{{material.getRarity(item.material.primary.id)}}</span>
                                    {{material.getName(item.material.primary.id)}} ✕ {{item.material.primary.amount}}</dd>
                                <dd><span class="rarity" :data-rank="material.getRank(item.material.secondary.id)">{{material.getRarity(item.material.secondary.id)}}</span>
                                    {{material.getName(item.material.secondary.id)}} ✕ {{item.material.secondary.amount}}</dd>
                            </div>
                        </dl>
                        <dl class="material-data">
                            <div>
                                <dd v-for="(data, key) in area.getNameFromMaterial(item.material.primary.id)" :data-area="data">{{data}}</dd>
                            </div>
                            <div>
                                <dd :data-currency="material.getCurrency(item.material.primary.id)">{{names.currency[material.getCurrency(item.material.primary.id)]}}(5)で購入</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </section>
            <fieldset id="selector">
                <legend>Control</legend>
                <p><label v-for="(name, key) in names.genre"><input type="checkbox" :value="true" v-model="filterKey[key]" :checked="filterKey[key]">{{name}}</label></p>
                <p><label><input type="radio" name="pinned" v-model="pinnedOnly" :value="true">選択済みのみ</label><label><input type="radio" name="pinned" v-model="pinnedOnly" :value="false">全て</label></p>
                <details style="display: none;">
                    <summary>選択済みリスト</summary>
                    <ul>
                        <li v-for="id of pinned.toSorted((a,b) => a > b)">{{id}}</li>
                    </ul>
                </details>
            </fieldset>
            <button id="display-mode" :data-pinned="false">
                <span>全</span><span>選</span>
            </button>
        </main>
        <script type="module">
            import { createApp, ref, onMounted, onUpdated } from 'vue'
            import { names, item, material, area } from 'dataset'
            
            await Promise.all([item.loadData(), material.loadData(), area.loadData()])
            
            console.log('app create')
            createApp({
                setup() {
                    const items = ref(item)
                    const filterKey = ref(new Array(names.genre.length))
                    filterKey.value.fill(false)
                    const pinned = ref([])
                    const pinnedOnly = ref(false)

                    function pinnedItem(e) {
                        const element = e.currentTarget
                        const itemId = Number(e.currentTarget.dataset.id)
                        const exist = pinned.value.findIndex(e => e == itemId)
                        if(exist === -1) {
                            pinned.value.push(itemId)
                            item.togglePin(itemId, true)
                        } else {
                            pinned.value.splice(exist, 1)
                            item.togglePin(itemId, false)
                        }
                    }
                    
                    onMounted(() => {
                        const data = JSON.parse(localStorage.getItem('tekitoukan'))
                        pinned.value = data.pinned
                        for(let e of data.pinned) {
                            item.togglePin(e)
                        }
                    })

                    onUpdated(() => {
                        const data = {
                            pinned: pinned.value
                        }
                        localStorage.setItem('tekitoukan', JSON.stringify(data))
                    })

                    return {
                        names, items, material, area,
                        filterKey, pinned, pinnedOnly,
                        pinnedItem,
                        onUpdated,
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>
